        <div class="modal fade" id="commonModal" tabindex="-1" aria-labelledby="commonModalTitle" style="display: none;" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div id="modalContent" class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="commonModalTitle">Loading...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div style="text-align: center;"><img src="{{ request.script_name }}/img/icons8-spinner.gif" alt="loading gif"></div>
              </div>
              <!--div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div-->
            </div>
          </div>
        </div>
